## EDA

In [61]:
# Load data

import pandas as pd
import numpy as np
import os

df_analysisvariables = pd.read_csv(r'CSpine/CSV datasets/analysisvariables.csv')
df_clinicalpresentationsite = pd.read_csv(r'CSpine/CSV datasets/clinicalpresentationsite.csv')
df_injuryclassification = pd.read_csv(r'CSpine/CSV datasets/injuryclassification.csv')
df_demographics = pd.read_csv(r'CSpine/CSV datasets/demographics.csv')
df_analysisvariables.head()

,SITE,CaseID,ControlType,StudySubjectID,AlteredMentalStatus,LOC,ambulatory,FocalNeuroFindings,PainNeck,PosMidNeckTenderness,...,AlteredMentalStatus2,FocalNeuroFindings2,PainNeck2,PosMidNeckTenderness2,TenderNeck2,Torticollis2,subinj_Head2,subinj_Face2,subinj_Ext2,subinj_TorsoTrunk2
0,1,110001,case,110001,1.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,1,110002,case,110002,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1,110003,case,110003,0.0,0.0,NaN,0.0,1.0,1.0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
3,1,110004,case,110004,0.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1,110005,case,110005,NaN,NaN,NaN,0.0,1.0,1.0,...,NaN,0.0,1.0,1.0,1.0,NaN,0.0,0.0,0.0,0.0

In [66]:
len(df_analysisvariables[df_analysisvariables['ControlType']=='case'])

540

In [41]:
df_clinicalpresentationsite = df_clinicalpresentationsite[['CaseID','TotalGCS']]
df_clinicalpresentationsite.head()

   CaseID TotalGCS
0  110001        3
1  110002       15
2  110003       15
3  110004      NaN
4  110005      NaN

In [58]:
df_injuryclassification = df_injuryclassification[['CaseID','CSFractures']]
df_injuryclassification

      CaseID CSFractures
0     110001           Y
1     110002           Y
2     110003           Y
3     110004           Y
4     110005           N
..       ...         ...
535  1713128           N
536  1713129           Y
537  1713130           Y
538  1713131           N
539  1713132           N

[540 rows x 2 columns]

In [65]:
# Merge data

df = df_analysisvariables.merge(df_clinicalpresentationsite, on='CaseID', how='inner')
df = df.merge(df_injuryclassification, on='CaseID', how='inner')
df.head()

,SITE_x,CaseID,ControlType_x,StudySubjectID_x,AlteredMentalStatus,LOC,ambulatory,FocalNeuroFindings,PainNeck,PosMidNeckTenderness,...,C7_T1SbLigSCPL,CSpineSignalChange,SignalChangeLevelC1,SignalChangeLevelC2,SignalChangeLevelC3,SignalChangeLevelC4,SignalChangeLevelC5,SignalChangeLevelC6,SignalChangeLevelC7,CordInjuryNoRadiographic
0,1,110001,case,110001,1.0,1.0,0.0,0.0,0.0,0.0,...,0,N,0,0,0,0,0,0,0,N
1,1,110001,case,110001,1.0,1.0,0.0,0.0,0.0,0.0,...,0,N,0,0,0,0,0,0,0,N
2,1,110001,case,110001,1.0,1.0,0.0,0.0,0.0,0.0,...,0,N,0,0,0,0,0,0,0,N
3,1,110001,case,110001,1.0,1.0,0.0,0.0,0.0,0.0,...,0,N,0,0,0,0,0,0,0,N
4,1,110001,case,110001,1.0,1.0,0.0,0.0,0.0,0.0,...,0,N,0,0,0,0,0,0,0,N

In [46]:
df.to_csv('CSpine\CSV datasets\data.csv')

In [53]:
df_demographics = df_demographics[['caseid','AgeInYears','Gender','Race','Ethnicity']]
df_demographics.head()

   caseid  AgeInYears Gender Race Ethnicity
0  110001       15.71      M    W        NH
1  110002       15.94      F    B        NH
2  110003       14.53      F    W        NH
3  110004       14.96      M    W        NH
4  110005       13.23      M    W        NH

In [54]:
df_demo = df.merge(df_demographics, left_on='CaseID', right_on='caseid', how='left')
df_demo.head()

,SITE,CaseID,ControlType,StudySubjectID,AlteredMentalStatus,LOC,ambulatory,FocalNeuroFindings,PainNeck,PosMidNeckTenderness,...,subinj_Face2,subinj_Ext2,subinj_TorsoTrunk2,TotalGCS,CSFractures,caseid,AgeInYears,Gender,Race,Ethnicity
0,1,110001,case,110001,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,3,Y,110001,15.71,M,W,NH
1,1,110001,case,110001,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,3,Y,110001,15.69,F,B,NH
2,1,110001,case,110001,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,3,Y,110001,15.77,F,W,NH
3,1,110001,case,110001,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,3,Y,110001,15.81,F,W,NH
4,1,110001,case,110001,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,3,Y,110001,15.75,M,W,NH

In [64]:
len(df)

21154

In [55]:
df_demo.to_csv('CSpine\CSV datasets\data_demo.csv')